/* Global */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--body-text-color);
    background-color: var(--white-background-color);
    letter-spacing: 0.02em;
    font-style: normal;
    line-height: 24px;}

/* CSS змінні */
:root {
    --primary-barand-color: #4d5ae5;
    --pressed-state-color: #404bbf;
    --navy-blue-color: #2e2f42;
    --success-color: #31d0aa;
    --body-text-color: #434455;
    --subtle-text-color: #8e8f99;
    --accent-color: #e7e9fc;
    --light-color: #f4f4fd;
    --modal-overlay-color: #2e2f42;
    --hero-background-color: #2e2f42;
    --white-background-color: #ffffff;
    --modal-background-color: #fcfcfc;}

    /* глобальне скидання стилів за селектором тегу */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    /* color: inherit; */
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
    align-content: center;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Header Style */

.header-display-flex{
    display: flex;}

.logo{font-family: "Raleway",sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-barand-color);
margin-right: 76px}

.link {text-decoration: none;} 
.list {list-style: none;}

.page-header{
    border-bottom: 1px solid #e7e9fc}

.page-logo-span{color: var(--hero-background-color);}

.nav-display{
    display: flex;
    align-items: center; }

.nav-list-displey-flex{
    display: flex;
    gap: 40px;
}

.page-nav-link {
    padding: 24px 0;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--hero-background-color);}

.page-nav-link:hover{color: var(--pressed-state-color);}
.page-nav-link:focus{color: var(--pressed-state-color);}

.adress{
    font-style: normal;
    
    }

.adress-list-display-flex{
    display: flex;
    gap: 40px;}

.adress-link{
    
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--body-text-color);}

.adress-link:hover{color: var(--pressed-state-color);}
.adress-link:focus{color: var(--pressed-state-color);}


/* Section 1 Hero */

.hero{
    background-color:var(--navy-blue-color);
    padding: 188px 0;}

.hero-titel{font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff;
padding: 188px 0;
max-width: 496px;}

.hero-button{
    border-radius: 4px;
    height: 56px;
    border: none;
    min-width: 169px;
    display: block;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background-color);
    cursor: pointer;}


.hero-button:hover {background-color: var(--pressed-state-color);}
.hero-button:focus {background-color: var(--pressed-state-color);}

/* Section 2 */
.section-two{
    padding: 120px 0;

}



.section-two-list-display
{
    display: flex;
    gap: 24px;
}


.section-two-item-display{
    width: calc((100% - 72px) / 4);

}

.section-two-titel{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color)}

.section-two-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text-color);}


/* < !-- Section 3 What are we doing --> */

.section-tree{
    padding-bottom: 120px;
}

.section-tree-list-display{
    display: flex;
    gap: 24px;}

.section-tree-item-display{
    width: calc((100% - 48px) / 3);

}
.section-three-titel{
    margin-bottom: 72px;
    color: var(--navy-blue-color);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;}

/* Section 4 Our Team */

.section-four{
    padding: 120px 0;

}
.section-four{background-color: var(--light-color);}

.section-four-li{
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-background-color);}

.section-four-list-display{
    display: flex;
    gap: 24px;}

.section-four-div{
    padding: 32px 16px;

}

.section-four-titel-h-two{
    margin-bottom: 72px;
    color: var(--hero-background-color);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;}

.section-four-titel-h-three{
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    color: var(--hero-background-color);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;}

.section-four-text{
    text-align: center;

    color: var(--body-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}


    /* FOOTER */

.footer{
    background-color: var(--hero-background-color);
    padding: 100px 0;}

.footer-logo{
    font-family: "Raleway", sans-serif;
    color: var(--primary-barand-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;    
    letter-spacing: 0.03em;
    text-transform: uppercase;
display: inline-block;
margin-bottom: 16px;}

.footer-logo-span{
    font-family: "Raleway", sans-serif;
    color: var(--light-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;    
    letter-spacing: 0.03em;
    text-transform: uppercase;}



.footer-text{
    max-width: 264px;
    color: var(--light-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}

    /* PORTFOLIO */
    .portfolio{padding-top: 96px;
            padding-bottom: 120px;}
    

    .portfolio-div{display: flex;}

    .portfolio-nav{display: flex;
        align-items: center;
    }

    .portfolio-list-display{
        display: flex;
        gap: 40px;    }

    .portfolio-list-displey-flex{
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-bottom: 72px;
    }

    
    .porfolio-button{
        border: 1px solid var(--accent-color);
        border-radius: 4px;
        padding: 12px 24px;
        font-family: "Roboto", sans-serif;
        background-color: var(--light-color);
        color: var(--primary-barand-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;        
        text-align: center;
        letter-spacing: 0.04em;
        cursor: pointer;}
    
    .porfolio-button:hover
    {background-color: var(--pressed-state-color);
    border: 1px solid transparent;}

    .porfolio-button:focus{
        background-color: var(--pressed-state-color);
        border: 1px solid transparent;}

    .porfolio-button:hover{color: var(--white-background-color);}
    .porfolio-button:focus{color: var(--white-background-color);}
    
    .portfolio-list-wrap{
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;}

    .portfolio-list-wrap-item{
        width: calc((100% - 48px) / 3);}

    .portfolio-list-wrap-div{
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;}

    .porfolio-titel{
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--navy-blue-color);}

    .portfolio-text{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--body-text-color);}


        /* для центрування і обмеження контенту по ширині */
    .container{
        width: 1158px;
        margin: 0 auto;
        padding: 0 15px;    }


   